

<div class="container card">
  <div class="row card-header">
    <div class="col-sm">
      Employee Name
    </div>
    <div class="col-sm">
      Employee Designation
    </div>
    <div class="col-sm">
      Birth Date
    </div>
  </div>
</div>

<div class="container card" *ngFor="let user of employeeList; let i = index">
  <div class="row card-body" [routerLink]="['/employee-details-component/', user.id]" >
    <div class="col-sm">
      {{user.name}}
    </div>
    <div class="col-sm">
      {{user.designation}}
    </div>
    <div class="col-sm">
      {{user.birthdate | dateformat}}
    </div>
  </div>
</div>