<div class="container card">
  <div class="row card-body">
    <div class="col-2 card-title text-left">
      Name
    </div>
    <div class="col-1 text-left">
      :
    </div>
    <div class="col-6 card-text text-left">
      Imdadul Haque
    </div>
  </div>
  <div class="row card-body">
    <div class="col-2 card-title text-left">
      Email
    </div>
    <div class="col-1 text-left">
      :
    </div>
    <div class="col-6 card-text text-left">
      imdadul@gmail.com
    </div>
  </div>
  <div class="row card-body">
    <div class="col-2 card-title text-left">
      Address
    </div>
    <div class="col-1 text-left">
      :
    </div>
    <div class="col-6 card-text text-left">
      Mohammadpur, Dhaka-1207
    </div>
  </div>
  <div class="row card-body">
    <div class="col-2 card-title text-left">
      Birth Date
    </div>
    <div class="col-1 text-left">
      :
    </div>
    <div class="col-6 card-text text-left">
      03/12/1990
    </div>
  </div>
  <div class="row card-body">
    <div appSpecialage [dob]="birthdate" class="col-2 card-title text-left">
      Designation
    </div>
    <div class="col-1 text-left">
      :
    </div>
    <div class="col-6 card-text text-left">
      Software Engineer
    </div>
  </div>

  <div class="row card-body">
    <div class="col-1 card-title text-left">
      <a routerLink="/add-employee-component"  class="btn btn-primary">Edit</a>
    </div>
    
    <div class="col-1 card-text text-left">
      <a class="btn btn-danger">Delete</a>
    </div>
  </div>

</div>




