.card {
  border-radius: 10px;
  border: 2px solid #bbb;
  margin: 10px 10px 30px 10px;
  padding: 10px;
  overflow: hidden;
}

.card .title {
  border-bottom: 1px solid #fff;
  font-weight: 100;
  font-size: 2.5em;
  margin-bottom: 5px;
}
.card .description {
  font-weight: 300;
  font-size: 1.2em;
}
