<!--The content below is only a placeholder and can be replaced.-->
<div class="toolbar container" role="banner">
  <div class="row">
  	<div class="col-8 text-center">
  		<h1>
  			Welcome to {{ title }}
  		</h1>
  	</div>
  	
  	<div class="col-4 text-center ">
  		<div class="row card-body">
  			<div class="col-1 card-title text-left">
  				<a routerLink="/add-employee-component"  class="btn btn-primary">Add Employee</a>
  			</div>
  		</div>
  		
  	</div>
  </div>
</div>
<div class="container" style="text-align:center">
  

<router-outlet></router-outlet>
