<form class="container card">

	<div class="form-group text-left">
	<label for="name">Employee Name</label>
		<input type="text" class="form-control" id="name" placeholder="Enter Name">
	</div>

	<div class="form-group text-left">
		<label for="email">Email address</label>
		<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
		
	</div>
	<div class="form-group text-left">
	<label for="address">Employee Address</label>
		<input type="text" class="form-control" id="address" placeholder="Enter Address">
	</div>
	<div class="form-group text-left">
		<label for="dob">Birth Date</label>
		<input type="date" class="form-control" id="dob" placeholder="Birth Date">
	</div>

	<div class="form-group text-left">
		<label  for="designation">Dasignation</label>
		<input type="text" class="form-control" id="designation" placeholder="Dasigntotin">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
